/* 主题色 CSS 自定义属性 */
:root {
  --primary-color: #8200db;
  --primary-color-rgb: 130, 0, 219;
}

/* 配置 Tailwind CSS V4 主题色 */
@theme {
  --color-primary: var(--primary-color);
  --color-primary-50: rgb(var(--primary-color-rgb) / 0.05);
  --color-primary-100: rgb(var(--primary-color-rgb) / 0.1);
  --color-primary-200: rgb(var(--primary-color-rgb) / 0.2);
  --color-primary-300: rgb(var(--primary-color-rgb) / 0.3);
  --color-primary-400: rgb(var(--primary-color-rgb) / 0.4);
  --color-primary-500: var(--primary-color);
  --color-primary-600: rgb(var(--primary-color-rgb) / 0.8);
  --color-primary-700: rgb(var(--primary-color-rgb) / 0.7);
  --color-primary-800: rgb(var(--primary-color-rgb) / 0.6);
  --color-primary-900: rgb(var(--primary-color-rgb) / 0.5);
}